cmake-build-debug/
cmake-build-debug-wsl/
build
.idea
.vscode
.vs
.cache

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
build.ninja
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


